/*--------
Portfolio page
--------------*/

.port-section {
  margin: 20px;
  display: grid;
}

.portfolio-p {
  display: grid;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 30px;
}

/*- Media queries for larger screens -*/

/*- Media queries for smaller screens -*/
