/*--------
Portfolio page
--------------*/

.port-section {
  margin: 20px;
  display: grid;
}

.portfolio-p {
  display: grid;
  margin-left: 10px;
  margin-bottom: 30px;
}

/*- Media queries for larger screens -*/

@media screen and (min-width: 600px) {
  .port-section {
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .portfolio-p {
    width: 600px;
  }
}

/*- Media queries for smaller screens -*/
