/*--------
Portfolio page
--------------*/

.port-section {
  margin: 20px;
  display: grid;
}

.portfolio-p {
  display: grid;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 30px;
}

/*- Media queries for larger screens -*/

@media screen and (min-width: 482px) {
  .port-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
