@import url(imports/components/variables.css);
@import url(imports/components/messages.css);
@import url(imports/components/contactForm.css);
@import url(imports/components/spinner.css);
@import url(imports/components/footer.css);
@import url(imports/components/nav-menu.css);
@import url(imports/news.css);
@import url(imports/home.css);
@import url(imports/portfolio.css);
@import url(imports/biography.css);

/*----------
Global / common styles
---------------------------------*/

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--white-yellow);
}

* {
  text-decoration: none;
}

h1,
h3 {
  text-align: center;
  color: var(--light-green);
}

h1 {
  font-size: 400%;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  font-family: sans-serif;
}

button {
  margin: 10px;
  padding: 15px;
  border: 1px solid;
  border-radius: 16px;
  font-size: 22px;
  border-color: var(--clear-green);
  background-color: var(--clear-green);
  cursor: pointer;
}

.button {
  width: 250px;
  height: auto;
  color: var(--white-yellow);
}

button a {
  color: var(--white-yellow);
}

button:hover {
  border-color: var(--light-green);
  background-color: var(--light-green);
}

.main-section {
  display: grid;
  margin: 4% 2% 120px 2%;
}
