/*- COMPONENTS -*/
@import url(imports/variables/variables.css);
@import url(imports/components/messages.css);
@import url(imports/components/contactForm.css);
@import url(imports/components/spinner.css);
@import url(imports/components/footer.css);
@import url(imports/components/nav-menu.css);

/*- BUTTONS -*/
@import url(imports/components/button-styles/buttons.css);
@import url(imports/components/button-styles/drawBorderBtn.css);
@import url(imports/components/button-styles/lineButton.css);
@import url(imports/components/button-styles/uniqueColorClass.css);

/*- PAGES -*/
@import url(imports/pages/news.css);
@import url(imports/pages/home.css);
@import url(imports/pages/portfolio.css);
@import url(imports/pages/biography.css);

/*- FONTS -*/
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/*----------
Global / common styles
---------------------------------*/

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  width: 100vw;
  height: 100vw;
  box-sizing: border-box;
  background-color: var(--background);
  overflow-x: hidden;
}

* {
  text-decoration: none;
}

h1,
h3 {
  text-align: center;
  color: var(--primary);
}

h1 {
  font-size: 400%;
  margin-top: 30px;
  margin-bottom: 5%;
}

p {
  font-family: sans-serif;
}

.main-section {
  display: grid;
  width: 100vw;
  justify-self: center;
  padding-bottom: 20%;
  margin: 5%;
  margin-top: 4%;
}

@media screen and (max-width: 600px) {
  .main-section {
    padding-bottom: 50%;
  }
}
