input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid var(--alert-box-shadow);
  background-color: var(--background);
}

input[type="submit"] {
  background-color: var(--footer-grey);
  color: var(--background);
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--background);
  color: var(--footer-grey);
}

.form-container {
  border-radius: 4px;
  background-color: var(--primary);
  padding: 20px;
  max-width: 1000px;
  justify-self: center;

  opacity: 1;
  transition: opacity 1s ease-in-out, visibility 1s;
  visibility: visible;
}
