.spinner {
  border: 16px solid var(--light-green);
  border-top: 16px solid var(--clear-green);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
  margin-top: 15%;
  margin-bottom: 5%;
  justify-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
