.button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  color: var(--secondary);
}

.button:hover {
  color: var(--draw-btn);
}

/*- Color classes -*/

.color-one {
  color: var(--color-one) !important;
  box-shadow: inset 0 0 0 4px var(--color-one) !important;
}

.color-two {
  box-shadow: inset 0 0 0 4px var(--color-two) !important;
  color: var(--color-two) !important;
}

.color-three {
  box-shadow: inset 0 0 0 4px var(--color-three) !important;
  color: var(--color-three) !important;
}

.color-four {
  box-shadow: inset 0 0 0 4px var(--color-four) !important;
  color: var(--color-four) !important;
}

.color-five {
  box-shadow: inset 0 0 0 4px var() !important;
  color: var() !important;
}

.color-six {
  box-shadow: inset 0 0 0 4px var() !important;
  color: var() !important;
}
