/*--------
Biography page
--------------*/

.bio-columns {
  display: grid;
}

.bioMainSection {
  gap: 50px;
}

.column {
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  max-width: 1000px;
  justify-self: center;
  position: relative;
  line-height: 1.5;
  text-align: justify;
}

.bio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 20px solid var(--primary);
  border-radius: 4px;
  height: 100%;
  width: 80%;
  justify-self: center;
}

.bio-titleDiv {
  display: grid;
}

.bio-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: 25%;
}

.bio-img {
  border-radius: 4px;
  margin-top: 8%;
  margin-left: 6%;
  width: 400px;
  min-width: 100px;
  height: auto;
}

.bio-btn {
  display: grid;
  justify-content: center;
}

.textButton {
  position: absolute;
  border-radius: 4px;
  border: 2px solid var(--faded);
  background-color: var(--faded);
  font-size: 1rem;
  color: var(--primary);
  text-align: left;
  margin-left: 0;
  padding: 10px;
  max-width: 1000px;
  width: 100%;
  top: 0;
  z-index: 1;
  cursor: pointer;
}

.textButton:hover {
  border-color: var(--primary);
  background-color: var(--background);
}

.hiddenText {
  margin-top: 8%;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.visibleText {
  margin-top: 8%;
  max-height: 1200px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.listItem {
  color: var(--primary);
}

/*------------
Media queries:
-------------*/

@media screen and (min-width: 1000px) {
  .bio-title {
    justify-self: center;
  }

  .bio-img {
    justify-self: center;
  }
}

@media screen and (max-width: 800px) {
  .hiddenText {
    margin-top: 12%;
  }

  .visibleText {
    margin-top: 12%;
  }
}

@media screen and (max-width: 678px) {
  .bio-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .bio-title {
    writing-mode: horizontal-tb;
    margin-right: 0;
    font-size: 360%;
  }

  .bio-img {
    margin-top: 8%;
    margin-left: 0;
    width: 80%;
    justify-self: center;
  }
}

@media screen and (max-width: 510px) {
  .bio-title {
    writing-mode: horizontal-tb;
    margin-right: 0;
    font-size: 280%;
  }

  .hiddenText {
    margin-top: 16%;
  }

  .visibleText {
    margin-top: 16%;
  }
}

@media screen and (max-width: 400px) {
  .hiddenText {
    margin-top: 20%;
  }

  .visibleText {
    margin-top: 20%;
  }
}
