.newsSection {
  justify-self: center;
  position: relative;
  margin: 5%;
}

.newsColumn {
  font-family: sans-serif;
  margin-bottom: 5%;
  max-width: 1000px;
  line-height: 1.5;
  text-align: justify;
}

#publishDate {
  font-size: 16px;
  font-style: italic;
  color: var(--secondary);
}
