/*--------
Portfolio page
--------------*/

.portfolioSection {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 20px;
  margin: 5% 15%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio-p {
  display: grid;
  margin-bottom: 5%;
  max-width: 600px;
  text-align: justify;
}

.portfolioDiv {
  margin-top: 10%;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .portfolioDiv {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .portfolioSection {
    margin: 5% 5%;
    justify-self: center;
    grid-template-columns: 1fr;
  }

  .buttonContainer {
    justify-self: center;
  }
}
