:root {
  /*- DEFAULT COLOR MODE: DARK -*/
  --faded: #627f9e;
  --primary: #4a6c8c;
  --secondary: #3c4d65;
  --tertiary: #9db7d7;
  --background: #1d2a3d;
  --text: #4a6c8c;
  --accent-color: #ffb700;

  /*- Button color-map -*/
  --color-one: #990077;
  --color-two: #ffb700;
  --color-three: #00ff22;
  --color-four: #ff0000;

  /* Button color-hover */
  --color-one-hover: #00cccc;
  --color-two-hover: #0000ff;
  --color-three-hover: #ff00dd;
  --color-four-hover: #00ffff;

  /*- special actions -*/
  --alert-box-shadow: rgba(0, 0, 0, 0.3);
  --alert-info: rgba(0, 0, 0, 0.5);
  --alert-success: rgba(19, 72, 17, 0.367);
  --alert-warning: rgba(131, 100, 0, 0.523);
  --alert-error: rgba(139, 0, 0, 0.302);
  --footer-white: #fffcf684;
  --footer-grey: #3a3c44;
  --footer-shadow: rgb(45, 46, 51, 0.1);

  font-size: calc(1rem + 0.25vw);
}

/*- COLOR MODE: LIGHT warm green -*/
body.light {
  --faded: #8a9d5b33;
  --primary: #b0c88c;
  --secondary: #6f7e48;
  --tertiary: #4a5a31;
  --background: #eaf1e0;
  --text: #4a5a31;
  --form-text: #4a5a31;
}

/*- COLOR MODE: DARK blue -*/
body.dark {
  --faded: #627f9e;
  --primary: #4a6c8c;
  --secondary: #3c4d65;
  --tertiary: #9db7d7;
  --background: #1d2a3d;
  --text: #4a6c8c;
  --form-text: #9db7d7;
}

/*- COLOR MODE: LIGHT green -*/
/* body.light {
  --faded: #3c9f020e;
  --primary: #829d72;
  --secondary: #344f23;
  --tertiary: #1a2a10;
  --background: #fffcf6;
} */

/*- COLOR MODE: DARK orange -*/
/* body.dark {
  --faded: #2a4b010e;
  --primary: #f3efe7;
  --secondary: #a97900;
  --tertiary: #a97900;
  --background: #1a1a1a;
} */
