:root {
  --faded: #3c9f020e;
  --primary: #829d72;
  --secondary: #344f23;
  --background: #fffcf6;

  /*- Button color-map -*/
  --color-one: #0000ff;
  --color-two: #00ff22;
  --color-three: #ffb700;
  --color-four: #ff0000;

  /* Button color-hover */
  --color-two-hover: #ff00dd;
  --color-four-hover: #00ffff;

  /* TEST COLORS*/
  /* --purple: #1f1a25; */
  /* --draw-btn: #fcbc45; */

  /*- special actions -*/
  --alert-box-shadow: rgba(0, 0, 0, 0.3);
  --alert-info: rgba(0, 0, 0, 0.5);
  --alert-success: rgba(19, 72, 17, 0.367);
  --alert-warning: rgba(131, 100, 0, 0.523);
  --alert-error: rgba(139, 0, 0, 0.302);
  --footer-white: #fffcf684;
  --footer-grey: #2d2e33;
  --footer-shadow: rgb(45, 46, 51, 0.1);

  font-size: calc(1rem + 0.25vw);
}
