nav.nav-bar {
  margin-top: 20px;
}

nav li {
  font-size: 28px;
  margin-bottom: 10px;
  list-style-type: none;
  color: var(--secondary);
}

nav li:hover {
  color: var(--primary);
}

#current li {
  color: var(--primary);
}

/*--
Media queries
--------------*/

@media screen and (min-width: 600px) {
  nav.nav-bar {
    margin-left: 2%;
  }

  nav li {
    font-size: 22px;
    margin-right: 20px;
    margin-bottom: 0;
    display: inline;
  }

  button {
    padding: 18px;
    max-width: 400px;
  }
}
